.IChat{
  width: 769px;
  height: 720px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255,253,253,0.82);
  padding: 10px;
  margin: 10px;
  display: flex;
}
@media only screen and (max-width: 770px) , (max-height: 721px){
  .IChat {
    width: 555px;
    height: 596px;
  }
}
@media only screen and (max-width: 556px), (max-height: 597px) {
  .IChat {
    width: 400px;
    height: 420px;
  }
}
