.LoginInfo {
  margin: 5px;
  width: 209px;
  height: 110px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;


  img {
    width: 50%;
    height: 100%;
    max-width: 98px;
    max-height: 98px;
    border-radius: 10%;

    &:hover {
      cursor: pointer;
    }
  }

  &_create {
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px 2px;
    }
  }
}

.LoginInfo_wrapper-login {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginInfo_nickname {
  font-size: 25px;
}

@media only screen and (max-width: 770px), (max-height: 721px) {
  .LoginInfo {
    width: 150px;
    height: 81px;

    span {
      font-size: 19px;
    }
  }
}

@media only screen and(max-width: 556px) {
  .LoginInfo {
    width: 90px;

    span {
      font-size: 13px;
      margin-bottom: 10px;
    }

    &_create {
      margin-top: 0;
      width: 25px;
      height: 25px;
    }
  }
}

@media only screen and (max-width: 405px) {
  .LoginInfo {
    margin: 1px;
    width: 55px;
    height: 65px;
    justify-content: flex-start;

    span {
      font-size: 12px;
      margin-bottom: 2px;
      padding: 5px;
    }

    &_create {
      margin-top: 0;
      width: 20px;
      height: 20px;
    }
  }

}