.LoginInfo{
  margin: 5px;
  width: 209px;
  height: 110px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span{
    font-size: 30px;
  }
  &_create{
    margin-top: 20px;
    height: 30px;
    width: 30px;
    border: 1px black solid;
    border-radius: 15px;
    background-color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    &:hover{
      cursor: pointer;
      box-shadow: 0 0 5px 2px;
    }
  }
}
@media only screen and (max-width: 770px) , (max-height: 721px){
  .LoginInfo {
    width: 150px;
    height: 81px;
    span{
      font-size: 19px;
    }
  }
}
@media only screen and(max-width: 556px) {
  .LoginInfo{
    width: 90px;

    span{
      font-size: 15px;
    }
    &_create{
      margin-top: 0;
      width: 25px;
      height: 25px;
    }
  }
}