.Message {
  display: inline-block;
  min-width: 100px;
  max-width: 400px;
  min-height: auto;
  border: 1px solid black;

  margin: 5px;
  padding: 5px;

  &_nickName {
    &--right {
      font-weight: 700;
      text-decoration: underline;
      text-align: right;
    }

    &--left {
      font-weight: 700;
      text-decoration: underline;
      text-align: left;

    }
  }
}

.left {
  border-radius: 5px 5px 5px 0;
  align-self: flex-start;
  background-color: rgb(246, 246, 246);

}

.right {
  border-radius: 5px 5px 0 5px;
  align-self: flex-end;
  background-color: rgb(64, 102, 162);
  color: #f8f8f8;
}

@media only screen and(max-width: 556px), (max-height: 597px) {
  .Message {
    width: 261px;
  }
}

@media only screen and (max-width: 405px) {
  .Message {
    width: 239px;
  }
}