.Room {
  width: 185px;
  min-height: 50px;
  //border: 1px solid black;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 3px 0;
  display: flex;
  align-items: center;
  position: relative;

  &_online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #019401;
    position: absolute;
    top: 2px;
    left: 34px;
    color: rgb(4, 100, 89);
  }

  &_new {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(7, 135, 247);
    border-radius: 50%;
    top: 37px;
    left: 34px;

  }

  &:hover {
    cursor: pointer;

  }

  span {
    display: block;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-size: 18px;

    white-space: nowrap;
    overflow: hidden;
    padding: 3px;
    text-overflow: ellipsis;
  }

  &_call {
    position: absolute;
    right: 10px;
    top: 10px;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.Avatar {
  margin-left: 3px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-self: flex-start;
  align-self: center;
}

@media only screen and (max-width: 770px), (max-height: 721px) {
  .Room {
    width: 135px;
  }
}

@media only screen and(max-width: 556px), (max-height: 597px) {
  .Room {
    width: 80px;
    min-height: 40px;

    span {
      font-size: 12px;
    }
  }
}

@media only screen and (max-width: 405px) {
  .Room {
    width: 50px;

    span {
      font-size: 10px;
    }
  }
}