.Sender {
  margin: 5px;
  width: 517px;
  height: 70px;
  background-color: rgba(196, 196, 196, 0.58);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_text {
    width: 444px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 3px;
    resize: none;
    scrollbar-width: none;
    font-size: 17px;
    outline: none;

    &::-webkit-scrollbar {
      width: 0;
    }

  }

  &_button {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(1, 169, 158);
    border-radius: 25px;
    background-color: rgb(1, 169, 158);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    font-weight: bold;
    padding-bottom: 6px;
    color: white;;

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
}

@media only screen and (max-width: 770px), (max-height: 721px) {
  .Sender {
    width: 363px;
    height: 52px;

    &_button {
      width: 40px;
      height: 40px;
    }

    &_text {
      width: 308px;
      height: 40px;
    }
  }
}

@media only screen and(max-width: 556px), (max-height: 597px) {
  .Sender {
    width: 272px;
    height: 50px;

    &_text {
      width: 220px;
      height: 35px;
    }

    &_button {
      width: 35px;
      height: 35px;
    }
  }
}

@media only screen and (max-width: 405px) {
  .Sender {
    width: 250px;
    height: 46px;

    &_text {
      width: 200px;
    }
  }
}
